@font-face {
  font-family: InterVar;
  src: local("Inter"), local("Inter var");
}

html,
body,
#__next {
  height: 100%;
  font-family:
    InterVar,
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial;
  margin: 0;
  padding: 0;
  background: #0b1220;
}
